.cart-list {
  padding-left: 0px;
}
.total-order-heading {
  color: #fdc435;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}

.total-amount {
  color: #25282b;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.total-order-container {
  text-align: right;
}

.place-order-btn {
  padding: 10px 20px 10px 20px;
  background-color: #fdc435;
  border-width: 0px;

  border-radius: 10px;

  color: var(--font-high-emphasis, #25282b);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  border: 1px solid #fdc435;
  line-height: 150%;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.place-order-btn:hover {
  background-color: transparent;
  color: #fdc435;
}

.payment-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.payment-form label {
  font-family: Nunito;
  font-size: 20px;
  color: #fdc435;
  font-weight: 600;
  margin-bottom: 10px;
}

.payment-form input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: #25282b;
  font-family: Roboto;
  border: 1px solid #25282b;
  margin-bottom: 10px;
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-form input::placeholder {
  font-family: Nunito;
  font-weight: 600;
  color: #3e4c59;
  font-size: 14px;
}

.confirm-btn {
  background-color: #fdc435;
  border-width: 0px;
  padding: 10px 20px 10px 20px;
  color: #25282b;
  font-family: Roboto;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #fdc435;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.confirm-btn:hover {
  background-color: transparent;
  color: #fdc435;
}

.tick-image {
  color: rgb(78, 230, 78);
  font-size: 40px;
}

.confirm-order-heading {
  font-family: Nunito;
  color: #25282b;
  font-weight: 700;
}
.confirm-order-des {
  color: #3e4c59;
  font-family: Nunito;
}
.confirm-order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}
.final-order-btn {
  background-color: #fdc435;
  padding: 10px 20px 10px 20px;
  border-width: 0px;
  border-radius: 10px;
  border: 1px solid #fdc435;
  font-family: Roboto;
  margin-top: 20px;
  cursor: pointer;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.final-order-btn:hover {
  background-color: transparent;
  color: #fdc435;
}

@media screen and (max-width: 768px) {
  .payment-form {
    width: 300px;
  }
}
